/* Banner */
.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 0px;
}

.banner2 {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 80px 0px;
}

.banner2 .title {
    font-size: 40px;
    margin-left: 40px;
}

.banner .logoBanner {
    margin-bottom: 20px;
}

/* About */
.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 6%;
    padding-bottom: 15%;
    position: relative;
}

.about .sub1 {
    margin-top: 50px;
    width: 800px;
}

.about .variasi {
    display: flex;
    background: url(/assets/img/variasi1.png);
    width: 200px;
    height: 280px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: -10px;
    bottom: 10px;
}

.about .variasi2 {
    display: flex;
    background: url(/assets/img/variasi2.png);
    width: 200px;
    height: 280px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    right: -10px;
    top: 10px;
}

.about2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 10%;
    position: relative;
}

.about2 .c-box {
    display: flex;
    justify-content: center;
    background: rgba(7, 47, 57, 0.5);
    border-radius: 10px;
    width: 1100px;
    height: 450px;
    margin-right: -300px;
}

.about2 .text {
    display: flex;
    flex-direction: column;
    padding: 40px;
    width: 700px;
    text-align: justify;
    margin-top: 30px;
}

.about2 .logo-about {
    height: 350px;
    margin-top: 40px;
    margin-left: -300px;
}

.about2 .text a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    margin-top: 20px;
}

.about2 .variasi {
    display: flex;
    background: url(/assets/img/variasi1.png);
    width: 200px;
    height: 280px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    right: -10px;
    bottom: 10px;
    rotate: 180deg;
}

/* Features */
.features {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(7, 47, 57, 0.5);
    margin-top: 20px;
    position: relative;
    padding-bottom: 10%;
}

.features .c-box {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 10px;
    z-index: 2;
}

.features .c-box .box {
    display: flex;
    flex-direction: column;
    width: 230px;
    height: 350px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid black;
    position: relative;
}

.features .c-box .box .text {
    padding: 10px;
}

.features .c-box .box .text .title {
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
}

.features .c-box .box .text p {
    font-size: 12px;
    text-align: center;
}

.features .c-box .box img {
    height: 150px;
    border-radius: 10px 10px 0px 0px;
}

.features .c-box .box .btn {
    display: flex;
    justify-content: center;
    height: 50px;
    position: absolute;
    bottom: -30px;
    right: 0;
    left: 0;
}

.features .c-box .box a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #000;
    border: 1px solid black;
    width: 150px;
    height: 30px;
    border-radius: 10px;
    background-color: #fff;
    font-weight: bold;
}

.features .variasi {
    display: flex;
    background: url(/assets/img/variasi1.png);
    width: 200px;
    height: 280px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: -10px;
    bottom: 10px;
    z-index: 1;
}

#page-detail {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#page-detail .banner {
    padding-top: 10%;
    padding-bottom: 10%;
}

/* kost */
.kost {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.swiper {
    width: 100%;
    height: max-content;
}

.kost .swiper .swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: max-content;
    background-color: #D9D9D9;
    border-radius: 20px;
    overflow: hidden;
}

.kost .swiper .swiper-slide img {
    height: 150px;
}

.kost .swiper .swiper-slide .text {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.kost .swiper .swiper-slide .title {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 5px;
}

.kost .swiper .swiper-slide p {
    text-align: center;
    font-size: 12px;
}

.kost .swiper .swiper-slide a {
    text-decoration: none;
    color: #000;
    font-weight: 800;
    margin-top: 10px;
}

.kost .swiper .swiper-slide a:hover {
    text-decoration: underline;
}

.kost-detail {
    display: flex;
    width: 100%;
}

.kost-detail img {
    width: 320px;
    height: 200px;
    border-radius: 10px;
}

.kost-detail .c-box {
    display: flex;
    flex-direction: column;
    width: 35%;
    padding: 20px;
}

.kost-detail .c-box .title {
    font-size: 18px;
    font-weight: 800;
}

.kost-detail .c-box p {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.kost-detail .c-box ul.fasil {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 5px;
    margin: 10px;
}

.kost-detail .c-box ul li {
    display: flex;
    list-style: none;
    font-size: 12px;
}

.kost-detail .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.kost-detail .btn a {
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    margin-right: 40px;
}

/* Atm */
.atm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.atm .c-box {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
}

.atm .c-box .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.atm .c-box .box .img {
    background-color: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 30px;
    width: 200px;
    height: 100px;
}

.atm .c-box .box img {
    width: 100%;
}

.atm .c-box .box a {
    padding: 5px 20px;
    border-radius: 10px;
    text-decoration: none;
    color: #fff;
}

/* Market */
.market {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.market .heading1 {
    margin-bottom: 40px;
}

.market .swiper {
    padding-bottom: 20px;
}

.market .swiper .swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 350px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid black;
    position: relative;
}

.market .swiper .swiper-slide .text {
    padding: 10px;
}

.market .swiper .swiper-slide .text .title {
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
}

.market .swiper .swiper-slide .text p {
    font-size: 12px;
    text-align: center;
}

.market .swiper .swiper-slide img {
    width: 100%;
    height: 150px;
    border-radius: 10px 10px 0px 0px;
}

.market .swiper .swiper-slide .btn {
    display: flex;
    justify-content: center;
    height: 50px;
    position: absolute;
    bottom: -30px;
    right: 0;
    left: 0;
}

.market .swiper .swiper-slide a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #000;
    border: 1px solid black;
    width: 150px;
    height: 30px;
    border-radius: 10px;
    background-color: #fff;
    font-weight: bold;
}

/* Worship */
.worship {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.worship .swiper {
    padding-bottom: 20px;
}

.worship .swiper .swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 350px;
    background-color: #fff;
    border-radius: 10px;
}

.worship .swiper .swiper-slide .text {
    padding: 10px;
    border-radius: 20px;
    color: #fff;
    text-align: center;
    margin-bottom: 60px;
}

.worship .swiper .swiper-slide a {
    padding: 5px 20px;
    border-radius: 10px;
    text-decoration: none;
    color: #fff;
}

/* food and drink */
.food {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url(/assets/img/food-and-drink/bg.png);
    background-position: center;
    background-size: cover;
}

.food .search input {
    width: 500px;
}

.food .heading1 {
    font-size: 24px;
    width: 200px;
    text-align: center;
}

.food .c-box {
    width: 100%;
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.food .c-box .box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.food .c-box .box .img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #D9D9D9;
    padding: 20px;
    border-radius: 20px;
    width: 150px;
    height: 150px;
}

.food .c-box .box .title {
    font-weight: bold;
    margin-top: 10px;
}

.food .c-box2 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    justify-content: center;
    align-items: center;
    gap: 75px;
    padding: 20px 30px;
}

.food .c-box2 .box {
    background-color: #FFC26A;
    width: 230px;
    height: 320px;
    border-radius: 20px;
    padding: 20px;
}

.food .c-box2 .box img {
    width: 100%;
    height: 180px;
    margin-left: -90px;
}

.food .c-box2 .box .title {
    font-weight: bold;
    font-size: 20px;
}

.food .c-box2 .btn {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.food .c-box2 .btn a {
    text-decoration: none;
    color: #000;
}

.food .c-box2 .btn .swipe {
    background-color: #419F7D;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    color: #fff;
}

.food .rekomend {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-bottom: 100px;
    padding-top: 100px;
}

.food .rekomed .swiper {
    margin-bottom: 20px;
}


.food .swiper .swiper-slide {
    background-color: #072F39;
    width: 100px;
    height: 300px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    color: #fff;
    position: relative;
}

.food .swiper .swiper-slide .text {
    padding: 20px;
}

.food .swiper .swiper-slide img {
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    height: 200px;
}

.food .swiper .swiper-slide .price {
    display: flex;
    font-size: 16px;
    justify-content: space-between;
}

.food .swiper .swiper-slide .rating {
    position: absolute;
    display: flex;
    background-color: #072F39;
    padding: 10px;
    border-radius: 20px;
    left: 10px;
    top: 10px;
}

/* food2 */
.food2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(/assets/img/food-and-drink/bg.png);
    background-position: center;
    background-size: cover;
}

.food2 .c-box {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
    justify-items: center;
    align-content: center;
}

.food2 .c-box .box {
    display: flex;
    width: 300px;
    height: 120px;
    padding: 10px;
}

.food2 .c-box .box:hover {
    box-shadow: 2px 2px 10px black;
}

.food2 .c-box .box img {
    width: 50%;
    height: 100%;
    margin-right: 10px;
}

.food2 .c-box .box .text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
}

.food2 .c-box .box .text .title {
    font-weight: bold;
    font-size: 16px;
}

.food2 .c-box .box .text a {
    text-decoration: none;
    color: #000;
    font-size: 14px;
}

.food2 .c-box .box .text a:hover {
    text-decoration: underline;
}

/* detail food */
.d-food {
    display: flex;
    width: 100%;
    background: url(/assets/img/detail-food/bg.png);
    background-position: center;
    background-size: cover;
    justify-content: space-between;
    padding-top: 10%;
    padding-bottom: 10%;
}

.d-food .left {
    width: 50%;
    display: flex;
}

.d-food .left img {
    width: 50%;
    margin-right: 30px;
}

.d-food .left .text {
    font-size: 13px;
    margin-top: 20px;
}

.d-food .left a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.d-food .right {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.d-food .right .jam {
    display: flex;
    width: 100%;
}

.d-food .right .lokasi {
    display: flex;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.d-food .right a {
    padding: 5px 20px;
    color: #fff;
    text-decoration: none;
    width: max-content;
}

/* menu */
.menu {
    display: flex;
    flex-direction: column;
    padding-top: 10%;
    padding-bottom: 10%;
}

.menu .d-lok {
    display: flex;
    margin-bottom: 40px;
}

.menu .jam,
.menu .lokasi {
    display: flex;
    width: 50%;
    justify-content: center;
}

.menu .d-menu {
    display: flex;
}

.menu .d-menu .box {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* service */
.service {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.service .c-box .box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


/* service */
.service {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.service .c-box .box .img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #D9D9D9;
    padding: 20px;
    border-radius: 20px;
    width: 150px;
    height: 150px;
}

.service .c-box .box .title {
    font-weight: bold;
    margin-top: 10px;
}

.service .group {
    display: flex;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 10%;
}

.service .group .c-box {
    width: 65%;
    margin-right: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.service .group .c-img {
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service .group .img-side {
    width: 100%;
    height: 250px;
}

.service .boxlong {
    display: flex;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 40px 60px;
    justify-content: space-between;
    width: 600px;
}
.service .boxlong .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 30px;
}
.garis{
    border-right: 1px solid black;
}

/* Place */
.place{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 10%;
}
.place .c-box{
    width: 100%;
    display: grid;
    margin-top: 50px;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    justify-items: center;
    align-content: center;
    gap: 5px;
}
.place .c-box .box{
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 400px;
    height: 300px;
    position: relative;
}
.place .c-box .box:hover{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.place .c-box .box .title{
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 20px;
}
.place .c-box .box a{
    color: #fff;
    padding: 5px 20px;
    text-decoration: none;
    width: max-content;
    position: absolute;
    bottom: 20px;
    right: 10px;
}